<div class='input-group'>
  <span class='input-group-addon'>Subverse:</span>
  {{input value=label class='form-control' action='navToSub'}}
  <span class='input-group-addon'><span class='caret'></span></span>
</div>

<ul class="dropdown-menu">
  {{#each subs as |sub|}}
    <li>{{link-to sub 'sub' sub}}</li>
  {{/each}}
</ul>
