/* Removed unused css styling. New stuff. Css tweaks for existing bootstrap and ember style.
-subtenko */

body 
{ background-color: #f5f5f5; 
    margin: 3px;
}

.thumb {
  float: left;
  margin-right: 1em;
}

.clearfix {
  clear: both;
}

video-item {
  display: inline;
}

.video-playlist .is-playing {
     margin: 0px -1px;
    z-index: 9;
    background: radial-gradient(ellipse farthest-corner at 0% 100% , rgba(27, 4, 87, 0.7) 10%, rgba(14, 54, 108, 0.3) 40%) repeat scroll 0% 0%, -moz-linear-gradient(center top , rgba(37, 6, 89, 0.3) 0%, rgba(16, 86, 86, 0.6) 100%) repeat scroll 0% 0%, #1F2E5D -moz-linear-gradient(60deg, #1D124E 0%, #1B2023 100%) repeat scroll 0% 0%;
    box-shadow: 0px 0px 6px 0px #000;
}


.credits {
  padding-top: 0em;
  padding-bottom: 0.25em;
}
/*go1d edit*/
video-player {
  display: block;
  margin-top: 2px;
}

/* left col*/

#sidebar {
    background: #f4f4f4 none repeat scroll 0% 0%;
    z-index: 99;
    box-shadow: 0px 0px 6px 3px rgba(2, 1, 0, 0.25);

}

body > .section {
  width: 100%;
}

#vtv-playlist {
    height: 610px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0px;
}


.playlist-tab {
    background: #F7F7F7;
    box-shadow: 0px 3px 1px 0px #DCDCDC;
}


.likes {
    color: #6DC8F9;
}

.dislikes {
    color: #B784B7;
}

a:hover {
    color: rgb(255, 128, 21);
    text-decoration: none;
}

a {
color: #5799D2;
}

a:focus, a:hover {
	color: rgb(95, 145, 191);
	text-decoration: underline;
}

/** animated vtv info box css **/


.wrapper {
  display:block;
  width: 400px;
  max-width: 100%;
  position: relative;
  margin: 0px 0px auto;
  background: #f4f4f4;
  box-shadow: -4px -3px 5px -3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 80px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.wrapper img {
  max-width: 100%;
  border-radius: 0 0 3px 3px;
  position: absolute;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: 1s all ease;
}

.wrapper:hover img {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.view-button {
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
  color: #EE4E44;
  line-height: 20px;
}

/* loading css animation style */


.load-container{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate( -50%, -50% );
text-align: center;
}

.color1 { color : #571DDB; }
.color2 { color : #1DB2DB; }
  
@keyframes fadeInUp{
  0% { opacity : 0; margin-top : 20px; }
  10% { opacity : 1; margin-top : 0px; }
  45% { opacity : 1; margin-top : 0px; }
  50% { opacity : 0; margin-top : 20px; }
  100% { opacity : 0; margin-top : 20px; }
}
@keyframes fadeInDown{
  0% { opacity : 0; margin-top : -50px; }
  10% { opacity : 1; margin-top : 0px; }
  45% { opacity : 1; margin-top : 0px; }
  50% { opacity : 1; margin-top : 0px; }
  100% { opacity : 0; margin-top : 100px; }
}
@keyframes fadeInDown2{
  0% { opacity : 0; margin-top : -50px; }
  55% { opacity : 0.5; margin-top : -150px; }
  60% { opacity : 0; margin-top : -50px; }
  90% { opacity : 0; margin-top : -50px; }
  100% { opacity : 0; margin-top : 100px; } 
}



.msg {
  padding-top : 150px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;

}

h1.msg{
  font-size : 6em;
font-weight: bold;
  animation:fadeInDown 2s infinite;
   animation:fadeInDown2 3s infinite;

}

/* end animated vtv info box css */

/* main content area */

#nav-n-select {
    width: auto;
    height: 50px;
    background-color: #232320;

    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
    white-space:nowrap;

}


/* below now playing area*/

/* sticky nav */

.pager li > a:focus, .pager li > a:hover {
	text-decoration: none;
	background-color: #1E2041;
}

.pager li > a, .pager li > span {
	height: 70px;
	padding: 5px 14px;
	display: inline-block;
	margin-left: -17px;
	background-color: #020711;
	width: 60px;
	margin-right: -17px;
}

/* ember css tweak */

.ember-view .is-playing {
    width: auto;
}

/* bootstrap overwritten css tweaks  */

.pager {
	list-style: outside none none;
	position: fixed;
	left: 0px;
	right: 0px;
	padding-left: 0px;
	text-align: center;
	bottom: 0px;
	margin-bottom: 0px;
	z-index: 999;
	background: radial-gradient(ellipse farthest-corner at 0% 100% , rgba(9, 80, 173, 0.52) 10%, #052D4E 40%) repeat scroll 0% 0%, -moz-linear-gradient(center top , rgba(46, 10, 105, 0.82) 0%, rgba(3, 64, 156, 0.6) 100%) repeat scroll 0% 0%, #294296 -moz-linear-gradient(60deg, #183268 0%, #101D24 100%) repeat scroll 0% 0%;
	opacity: 0.8;
	box-shadow: 0px 0px 6px 1px #010103;
}

.pager li > a, .pager li > span {
	display: inline-block;
	padding: 5px 14px;
	border: none;
border-radius: 0px;
}



.col-md-9, .col-md-3{
    padding:     0px;
}

.list-group-item {
    border:none;
}

.glyphicon {
	position: relative;
	top: 22px;
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}


.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #F5F5F5;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.btn {
	border-radius: 0px;
	width: 325px;
}

.btn-group, .btn-group-vertical {
	margin-top: -1px;
}

.media-heading {
	margin-top: 10px;
	font-size: 1em;
}

/*testing to nav bar only, but doubles to sidebar*/
#nav-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 530px;
}

.media-body {
	width: auto;
}
