.thumb {
  float: left;
  margin-right: 1em;
}

.clearfix {
  clear: both;
}

video-item {
  display: block;
}

.video-playlist .is-playing {
  background-color: cyan;
}

.credits {
  padding-top: 0em;
  padding-bottom: 0.25em;
}


/* Hey, the empty css style rules are not used, I just left them there for a bit after I scraped an older non bootstrap version. Just sending in this early version.
-subtenko */
/* left col*/

body {
  background: #365479;
}

body > .section {
  width: 100%;
}

#vtv-playlist {
    height: 610px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist-tab {
    background: #F7F7F7;
    box-shadow: 0px 3px 1px 0px #DCDCDC;
}


#vid-block {

}

#vid-head {

}

#voat-score {

}

#voat-op {

}

/* main content area */

#main-container {

}

#nav-n-select {
    width: auto;
    height: 50px;
    background-color: #232320;

    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
    white-space:nowrap


}

#now-playing {

}


/* below now playing area*/



#btn-load-more {

}



.subtags {
    color: white;
    background: red;
    border-radius: 5px;
    width: 84px;
    overflow: hidden;
    margin-left: 2px;
    text-align: center;
}

#select-channel{
    background: #222225;
    height: 140px;
}
