<div class="row">
  <div class="col-lg-9 spacing">
    {{video-player}}

  </div>
  <div id='sidebar' class="col-lg-3 spacing">






{{sub-list verse=model.name navToSub='navToSub'}}
    {{video-playlist id="vtv-playlist"}}

  </div>
  <a class="wrapper pull-right">
    <img src="http://i.imgur.com/xfmV8Bk.jpg">
    <h4><a href="http://github.com/go1dfish/vtv/" target='_new'>goat.video alpha</a></h4>
    <p>
     Code by <a href='https://voat.co/user/go1dfish' target='_new'>go1dfish</a> |
     Design by <a href='https://voat.co/user/Subtenko' target='_new'>Subtenko</a>
    </p>
  </a>
</div>
