<!-- Using Bootstrap-->
<div class="section">
  {{outlet}}
</div>

<footer class="section section-primary">
  <div class="container">
    <h1>VTV Alpha</h1>
    <p>
      Code by <a href='https://voat.co/user/go1dfish' target='_new'>go1dfish</a> |
      Design by <a href='https://voat.co/user/Subtenko' target='_new'>Subtenko</a>
    </p>
    <a href="http://github.com/go1dfish/vtv/" target='_new'>
      <i class="fa fa-3x fa-fw fa-github text-inverse pull-right"></i>
    </a>
  </div>
</footer>
